.app {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;

  background-color: var(--color-gray);
  color: rgb(195, 195, 195);

  &__list {
    margin: 2rem auto 0;
    width: 70%;
    list-style: none;
  }
}
